guix*
real_data
db
__pycache__/
.snakemake/
singlem.egg-info
docker/singlem.yml
docker/Dockerfile
site
extras/update_metapackage/env_master
untracked
build
extras/new_package_creation/singlem_new_metapackage_working_directory/

# pixi environments
.pixi
*.egg-info
