[workspace]
authors = ["Ben Woodcroft <benjwoodcroft@gmail.com>"]
channels = ["conda-forge","bioconda"]
name = "singlem"
platforms = ["linux-64"]

[activation]
# Sets metapackage environment variables, which are assumed to be in the db/ of
# the base directory (perhaps symlnked).
scripts = ["admin/set_env_vars.sh"]

# Here we list non-python dependencies that are typically needed (mainly singlem
# pipe). It is useful to separate non-python dependencies from python ones so
# that users of the "Installation from PyPI" method have an organised set of
# dependencencies to install.
[feature.typical-non-python.dependencies]
diamond = ">=2.1.21"  # some issues e.g. RAM before this, though not extensively tested.
hmmer = "*"
orfm = "*"
mfqe = "*"
krona = "*"
smafa = "*"

[feature.typical-python.dependencies]
python = ">=3.7"
sqlalchemy = "*"
pandas = "*"
bird_tool_utils_python = ">=0.6.0"
pyranges = "*"
polars = "*"
tqdm = "*"
pyarrow = "*"
biopython = "*"
extern = "*"
zenodo_backpack = ">=0.4.0"
graftm = "*"

# These dependencies are used alongside the "typical" ones listed above.
[feature.main.dependencies]
coreutils = "*" # So sort --parallel works
bash = "*"
pplacer = "*"
sra-tools = "*"
ncbi-ngs-sdk = "*"
sqlite = "*"
squarify = "*"
mafft = "*"
seqmagick = "*"
expressbetadiversity = "*"
cd-hit = "*"
fasttree = "*"
fastalite = "*"
jinja2 = "*"
pip = "*"
prodigal = "*"
galah = ">=0.4.0"
sqlparse = "*"  # Required indirectly (e.g. taxtastic)
# Optional (commented out)
# python-annoy = "*"
# nmslib = "*"

[feature.typical-non-python.pypi-dependencies]
singlem = {path = ".", editable = true}

[feature.dev.pypi-dependencies]
singlem = {path = ".", editable = true}

[feature.main.pypi-dependencies]
singlem = {path = ".", editable = true}

[feature.dev.dependencies]
# Dev/test dependencies only
pytest = "*"
ipython = "*"
toml = "*"
python-build = "*"
setuptools-scm = "*"
gtdbtk = "==2.4.1" # Must match the version of GTDB release used to make the default metapackage.
kingfisher = "*"

[environments]
default = ["main", "typical-non-python", "typical-python"]
dev = ["dev", "main", "typical-non-python", "typical-python"]
typical = ["typical-non-python", "typical-python"]

[tasks]
test-base = "pytest test"

[tasks.test]
depends-on = [
    {task = "test-base", environment = "dev"},
]
