name: Current Build
on: [push, pull_request]

jobs:
  pixi_test_dependencies_locked:
    name: Pixi test_dependencies_locked ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
    steps:
      - uses: actions/checkout@v3

      - name: Install Pixi
        run: |
          curl -fsSL https://pixi.sh/install.sh | bash
          echo "$HOME/.pixi/bin" >> $GITHUB_PATH

      - name: Show environment info
        run: |
          pixi run -e dev --frozen pixi info
          pixi run -e dev --frozen pixi list

      - name: Run tests with Pixi
        run: |
          pixi run -e dev --frozen pytest test -v

  # Run after removing lock file so dependences are unlocked
  pixi_test_dependencies_optimistic:
    name: Pixi test_dependencies_optimistic ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
    steps:
      - uses: actions/checkout@v3

      - name: Install Pixi
        run: |
          curl -fsSL https://pixi.sh/install.sh | bash
          echo "$HOME/.pixi/bin" >> $GITHUB_PATH

      - name: Remove lock file
        run: |
          rm -fv pixi.lock admin/requirements.txt admin/environment.yml
          touch admin/requirements.txt

      - name: Create dev environment
        run: |
          pixi run -e dev pixi info

      - name: Show environment info
        run: |
          pixi run -e dev pixi list

      - name: Run tests with Pixi
        run: |
          pixi run -e dev pytest test -v
